.dados-iniciais {
    margin-bottom: 7px;
    margin-top: 7px;
    padding-left: 5px;
}

#box-principal {
    border: 3px solid black;
    margin-left: 10px;
    padding: 20px
}

#pergunta-usuario {
    margin-top: 10px;
    
}

#text-area-resposta {
    margin-top: 10px;
    resize: none;
}

.box-principal {

}